<!-- index.html -->
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.3/react.js"></script>
        <script src="/static/js/react-bootstrap/react-bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

    
    </head>
    <body>
        <div id="nav"></div>
        <div id="messageForm" style="width:100%; padding-left: 5%; padding-right: 5%;">
            <textarea name="message" style="height:200px;" type="textarea" label="Private Message:" class="form-control">{{message}}</textarea>
        </div>
        
        <script src="/static/js/header.js"></script>
    </body>
</html>