<!-- index.html -->
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/static/css/bootstrap.min.css">
        <script src="/static/js/react.min.js"></script>
        <script src="/static/js/react-bootstrap/react-bootstrap.min.js"></script>
        <script src="/static/js/jquery-2.1.4.min.js"></script>

    </head>
    <body>
        <div id="nav"></div>
        <div id="messageForm" style="width:100%; padding-left: 5%; padding-right: 5%;"></div>
        <script src="/static/js/header.js"></script>
        <script src="/static/js/submit.js"></script>
    
    </body>
</html>