<!-- giveUrl.html -->
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/static/css/bootstrap.min.css">
        <script src="/static/js/react.min.js"></script>
        <script src="/static/js/react-bootstrap/react-bootstrap.min.js"></script>
        <script src="/static/js/jquery-2.1.4.min.js"></script>
    </head>
    <body>
        <div id="nav"></div>
        <h3 style="color: red; text-align:center; padding-left: 10%; padding-right: 10%; text-color:red;">Message Not Found</h3>
        <script src="/static/js/header.js"></script>
    </body>
    
</html>