<!-- giveUrl.html -->
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.3/react.js"></script>
        <script src="/static/js/react-bootstrap/react-bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script src="/static/js/header.js"></script>
    </head>
    <body>
        <div id="nav"></div>
        <h3 style="color: red; text-align:center; padding-left: 10%; padding-right: 10%; text-color:red;">Message Not Found</h3>
    </body>
</html>